<table class="table table-light">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Actions">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#taskDetail" (click)="onSelect(task)">
            <fa-icon [icon]="faInfo"></fa-icon>
            Info
          </button>
          <button type="button" class="btn btn-danger">
            <fa-icon [icon]="faAngry"></fa-icon>
            Remover
          </button>
        </div>

      </td>
    </tr>
  </tbody>
</table>

<task-detail [task]="selectedTask"></task-detail>
